body, *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.container, .input-forms, .form, .distance-list{
  display: flex;
}

.form{
  flex-direction: column;
  margin-right: 10px; 
}

.input-forms, .container{
  align-items: center;
  justify-content: center;
}

.container{
  width: 75vw;
  flex-direction: column;

  padding: 7px;
  border: 2px solid grey;
  border-radius: 8px;
}

.input-forms{
  width: 45vw;
  justify-content: space-around;
  
  align-items: flex-end;
  margin-bottom: 20px;
}

.form input {
  width: 200px;
  height: 30px;
  
  border-radius: 7px;

  margin-top:5px;
}

.button{
  width: 80px;
  height: 30px;

  border: 2px solid grey;
  border-radius: 7px;
  background-color: white;
}


.distance-list{
  width: 50vw;

  justify-content: space-around;
}

.list-header{
  display: flex;
  justify-content: space-around;
}

