body, *{
  font-family: -apple-system, BlinkMacSystemFont, "Bradley Hand", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}

li{
  list-style: none;
}

body, .container, .input-forms, .form, .list-item, .list-header{
  display: flex;
}

.form{
  flex-direction: column;
  margin-right: 10px; 
}

body, .input-forms, .container{
  align-items: center;
  justify-content: center;
}

.container{
  width: 45vw;
  flex-direction: column;

  padding: 7px;
  border: 2px solid grey;
  border-radius: 8px;
}

.input-forms{
  width: 100%;
  justify-content: space-around;
  
  align-items: flex-end;
  margin-bottom: 20px;
}

.form input {
  width: 200px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 7px;
  margin-top:5px;
}

.button{
  width: 80px;
  height: 30px;

  border: 1px solid grey;
  border-radius: 7px;
  background-color: white;
}

.list{
  width: 100%;
  
 

  padding: 10px;
}

.list-header{
  justify-content: space-between;

  width: 100%;
  margin-bottom: 10px;
}

.list-header li{
  text-align: center;
  width: 32%;
}

.list-item{
  width: 100%;
  padding: 8px;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  
}

.list-item:last-child{
  border: none;
}

.list-item span{
  width: 32%;
  text-align: center;
  
}
.list-actions{
  display: inline-block;
  width: 32%;
}

.list-actions .edit{
  margin-right: 10px;
}

.list-actions button{
  border:none;
  background-color: inherit;
}

.empty-list{
  margin-top: 10px;
  width: 100%;
  opacity: .5;
  text-align: center;
}

.button:hover{
  background-color: rgb(235, 232, 232);
}